<div class="container my-5">
  <h2 class="fw-bold text-primary mb-4">
    <i class="bi bi-file-earmark-bar-graph-fill me-2"></i>
    Panel de Reportes
  </h2>

  <div class="row g-4">

    <!-- RECIBOS -->
    <div class="col-md-6 col-lg-4">
      <div class="report-card report-primary" (click)="irARecibos()">
        <div class="report-icon">
          <i class="bi bi-file-earmark-text-fill"></i>
        </div>

        <h5>Recibos</h5>

        <p>
          Generación de recibos de entrega de equipamiento tecnológico,
          insumos y elementos asignados a las dependencias policiales.
        </p>
      </div>
    </div>

    <!-- ACTAS -->
    <!-- <div class="col-md-6 col-lg-4">
      <div class="report-card report-success">
        <div class="report-icon">
          <i class="bi bi-file-earmark-check-fill"></i>
        </div>

        <h5>Actas</h5>

        <p>
          Emisión de actas administrativas y documentación de respaldo.
        </p>
      </div>
    </div> -->

    <!-- CONSTANCIAS -->
    <!-- <div class="col-md-6 col-lg-4">
      <div class="report-card report-warning">
        <div class="report-icon">
          <i class="bi bi-file-earmark-medical-fill"></i>
        </div>

        <h5>Constancias</h5>

        <p>
          Generación de constancias y certificados emitidos por la división.
        </p>
      </div>
    </div> -->

  </div>
</div>