.card {
  border-radius: 1.5rem;
}

.card-header {
  border-top-left-radius: 1.5rem !important;
  border-top-right-radius: 1.5rem !important;
}

.table th {
  vertical-align: middle;
}

.table td {
  vertical-align: middle;
}

.table-hover tbody tr:hover {
  background-color: #eef6ff !important;
  transition: 0.2s ease;
}

.btn-outline-primary:hover,
.btn-outline-danger:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.badge {
  font-size: 0.9rem;
  border-radius: 1rem;
}
