/* ==== SWITCHES ==== */
.form-check-input {
  width: 2.5em;
  height: 1.3em;
  cursor: pointer;
}

.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.form-check-label {
  color: #0d47a1;
}
