<nav class="navbar">
  <div class="navbar-brand">SCP "SISTEMA DE CORREOS POLICIALES"</div>
  <ul class="navbar-links">
    <li><a routerLink="/inicio" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">Inicio</a></li>
    <li><a routerLink="pages/lst_usuario" routerLinkActive="activo">Usuarios</a></li>
    <li><a routerLink="pages/lst_usuario_solicitante" routerLinkActive="activo">Solicitantes</a></li>
    <li><a routerLink="pages/lst_correos_institucionales" routerLinkActive="activo">Correo Institucional</a></li>
    <li><a routerLink="pages/lst_correos_institucionales" routerLinkActive="activo">Sistemas Federales</a></li>
    <!-- <li><a routerLink="/configuracion" routerLinkActive="activo">Configuración</a></li> -->
  </ul>
  <button type="button" class="btn btn-info">CERRAR SESION</button>
</nav>
