<div class="card filtro-card rounded-4 shadow-sm p-4 my-4">

  <div class="row g-4">

    <!-- Registros -->
    <div class="col-md-2">
      <label class="form-label fw-semibold small text-secondary">Registros por página</label>
      <select
        (change)="filter()"
        class="form-select filtro-input"
        [(ngModel)]="limit"
      >
        <option *ngFor="let c of limits" [ngValue]="c">{{ c }}</option>
      </select>
    </div>

    <!-- Fecha desde -->
    <div class="col-md-3">
      <label class="form-label fw-semibold small text-secondary">Fecha desde</label>
      <input
        type="date"
        class="form-control filtro-input shadow-sm rounded-3 text-center"
        [(ngModel)]="fechaDesde"
        (change)="filter()"
      />
    </div>

    <!-- Fecha hasta -->
    <div class="col-md-3">
      <label class="form-label fw-semibold small text-secondary">Fecha hasta</label>
      <input
        type="date"
        class="form-control filtro-input shadow-sm rounded-3 text-center"
        [(ngModel)]="fechaHasta"
        (change)="filter()"
      />
    </div>

    <!-- Buscar -->
    <div class="col-md-4">
      <label class="form-label fw-semibold small text-secondary">Buscar</label>
      <div class="input-group filtro-buscar shadow-sm">
        <input
          type="text"
          class="form-control rounded-start-3 text-center filtro-input"
          [(ngModel)]="busqueda"
          (ngModelChange)="filter()"
          placeholder="Apellido, Nombre, DNI o Unidad"
        />
        <span class="input-group-text filtro-buscar-icon rounded-end-3">
          <i class="bi bi-search"></i>
        </span>
      </div>
    </div>

    <!-- Navegación (ABAJO) -->
    <div class="col-12 d-flex flex-column justify-content-center align-items-center mt-3">
      <label class="form-label fw-semibold small text-secondary">Navegación</label>

      <div class="d-flex align-items-center justify-content-center gap-3 filtro-nav">

        <button 
          class="btn btn-outline-primary btn-sm px-3 rounded-pill filtro-nav-btn"
          [disabled]="paginaActual <= 1"
          (click)="setPage(paginaActual, 'anterior')"
        >
          <i class="bi bi-chevron-left"></i>
        </button>

        <div class="filtro-nav-box shadow-sm">
          Página {{ paginaActual }} / {{ totalPaginas }}
          <br />
          <span class="text-muted small">({{ totalRegistros }} registros)</span>
        </div>

        <button 
          class="btn btn-outline-primary btn-sm px-3 rounded-pill filtro-nav-btn"
          [disabled]="paginaActual >= totalPaginas"
          (click)="setPage(paginaActual, 'siguiente')"
        >
          <i class="bi bi-chevron-right"></i>
        </button>

      </div>
    </div>

  </div>
</div>
